:root {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
}

main {
  margin: 0 auto;
}

.container {
  max-width: 768px;
  margin: 2rem auto;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.rounded {
  border-radius: 16px;
}

.header {
  padding: 2rem;
  background-color: #008bfc;
  color: #fff;
  text-align: center;
}

.header-title {
  font-size: 4rem;
  font-weight: 700;
}

.header-subtitle {
  color: #e5e5e5;
  font-size: 1.4rem;
  font-weight: 400;
}

section {
  margin: 24px 0;
  padding: 1.6rem;
}

#title h1, #title p {
  text-align: center;
}

.card {
  width: 100%;
  margin: 2rem 0;
}

.border {
  border: 1px solid #008bfc;
}

.card-title {
  padding: 8px;
  text-align: center;
  color: #fff;
  background-color: #008bfc;
}

.flex {
  width: fit-content;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.box {
  width: 5rem;
  height: 5rem;
  border: 1px solid red;
}

.box-div {
  margin: 1rem;
}

.text-center {
  text-align: center;
}

.semibold {
  font-weight: 600;
}

.padding {
  padding: 1rem;
}

.input {
  display: block;
  width: 90%;
  margin: 1rem auto;
  padding: 0.6rem;
  border: 1px solid #b7b7b7;
  border-radius: 8px;
}

.btn {
  display: block;
  margin: 0 auto;
  background-color: #008bfc;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  padding: 0.6rem 1.6rem;
}

.reset {
  background-color: orange;
  margin: 1rem auto;
}

#result-luas, #result-keliling {
  display: none;
}
